In [2]:
import pandas as pd

In [3]:
forum_users = {
    'User ID': [1, 2, 3, 4, 5],
    'Username': ['bill', 'john', 'elly', 'fred', 'any'],
    'Age': [18, 35, 25, 38, 45],
    'Joined date': ['2032-01-01', '2032-02-15', '2032-04-26', '2032-06-21', '2032-09-15'],
    'Total posts': [150, 230, 80, 420, 310],
    'Reputation': [500, 720, 200, 940, 500]
}

df = pd.DataFrame(forum_users)
df

   User ID Username  Age Joined date  Total posts  Reputation
0        1     bill   18  2032-01-01          150         500
1        2     john   35  2032-02-15          230         720
2        3     elly   25  2032-04-26           80         200
3        4     fred   38  2032-06-21          420         940
4        5      any   45  2032-09-15          310         500