In [14]:
import pandas as pd
import numpy as np

In [15]:
np.random.seed(1)
n = 100
dates = pd.date_range(start='2050-01-01', periods=n, freq='D')
products = np.random.choice(['Tablet', 'Camera', 'Phone'], n)
prices = np.round(np.random.uniform(50., 200., n), 2)
quantities = np.random.randint(1, 15, n)

data = {
    'Date': dates,
    'Product': products,
    'Price': prices,
    'Quantity': quantities
}

df = pd.DataFrame(data)
df

         Date Product   Price  Quantity
0  2050-01-01  Camera  191.69         2
1  2050-01-02  Tablet  137.98         8
2  2050-01-03  Tablet  185.51         1
3  2050-01-04  Camera   70.62        11
4  2050-01-05  Camera   70.89        11
..        ...     ...     ...       ...
95 2050-04-06   Phone  174.35        12
96 2050-04-07  Tablet   73.52        12
97 2050-04-08  Camera   52.79         2
98 2050-04-09   Phone   60.50         3
99 2050-04-10   Phone  122.95         1

[100 rows x 4 columns]

In [16]:
df.dtypes

Date        datetime64[ns]
Product             object
Price              float64
Quantity             int32
dtype: object